*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

header{
    width: 100%;
    float: left;
    height: 50px;
}

.logo{
    width: 20%;
    float: left;
   
}
.logo img{
    height: 50px;
}

.menu{
    width: 50%;
    float: left;
    
   

}

.menu nav ul{
    list-style: none;

}

.menu nav ul li{
    display: inline-block;
    margin: 0px 38px;
    padding: 16px 0px;

}

.menu nav ul li a{
    text-decoration: none;
    color: black;
    
}

.login{
    width: 30%;

    float: left;
   
}
.login ul{
    list-style: none;
    

}

.login ul li{
    display: inline-block;
    margin: 0px 8px;
    padding: 15px 0px;
}
.login ul button{
    border: none;
    cursor: pointer;

}


.fa.fa-facebook{
    background: #0A82EC;
    padding: 4px 8px;
    color: #fff;
    border-radius: 18px;
    transition: 0.4s ease-in-out;
}
.fa.fa-facebook:hover{
    transform: rotate(360deg);
}
.fa.fa-instagram{
    background: maroon;
    padding: 4px 8px;
    color: #fff;
    border-radius: 18px;
    transition: 0.4s ease-in-out;
}
.fa.fa-instagram:hover{
    transform: rotate(360deg);
}
.fa.fa-linkedin{
    background: #0A82EC;
    padding: 4px 8px;
    color: #fff;
    border-radius: 18px;
    transition: 0.4s ease-in-out;
}
.fa.fa-linkedin:hover{
    transform: rotate(360deg);
}
.fa.fa-twitter{
    background: #0A82EC;
    padding: 4px 8px;
    color: #fff;
    border-radius: 18px;
    transition: 0.4s ease-in-out;
}
.fa.fa-twitter:hover{
    transform: rotate(360deg);
}

.banner-one{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    width: 100%;
    height: 350px;
    float: left;
}
.banner-two{
    background-color: #1a1a1a38;
    margin: 55px;
    padding: 10px;
    width: 35%;
    height: 200px;
}
.banner-two h1{
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    padding: 8px;


}
.banner-two h3{
    color: black;

}
.banner-two button{
    text-transform: uppercase;
    margin: 14px 50px 0px 0px;
    padding: 2px;
    background: #228f22;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    float: left;
}

.body-one{
    height:260px;
    width: 25%;
    float: left;
    margin: 35px 0px 0px 0px;
}
.body-one img {
    display: block;
    width: 80px;
    margin: 0px 0px 0px 100px;
}
.body-one h2 {
    text-align: center;
}
.body-one h4 {
    font-size: 17px;
    margin: 5px 0px 0px 0px;
    padding: 0px 2px 0px 0px;
}
.body-one button {
    margin: 0px 0px 0px 100px;
    background: green;
    border-radius: 7px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.body-two{
    height: 260px;
    width: 25%;
    float: left;
    margin: 35px 0px 0px 0px;
}
.body-two img{
    display: block;
    width: 80px;
    margin: 0px 0px 0px 100px;
}
.body-two h2{
    text-align: center;
}

.body-two h4{
    font-size: 17px;
    margin: 5px 0px 0px 0px;
    padding: 0px 2px 0px 0px;
}

.body-two button{
    margin: 0px 0px 0px 100px;
    background: green;
    border-radius: 7px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.body-three{
    height: 260px;
    width: 25%;
    float: left;
    margin: 35px 0px 0px 0px;
}
.body-three img{
    display: block;
    width: 80px;
    margin: 0px 0px 0px 100px;
}
.body-three h2{
    text-align: center;
}

.body-three h4{
    font-size: 17px;
    margin: 5px 0px 0px 0px;
    padding: 0px 2px 0px 0px;
}

.body-three button{
    margin: 9px 0px 0px 100px;
    background: green;
    border-radius: 7px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}


.body-four{
    height: 260px;
    width: 25%;
    float: left;
    margin: 35px 0px 0px 0px;
}

.body-four img{
    display: block;
    width: 80px;
    margin: 0px 0px 0px 100px;
}

.body-four h2{
    text-align: center;
}

.body-four h4{
    font-size: 17px;
    margin: 5px 0px 0px 0px;
    padding: 0px 2px 0px 0px;   
}

.body-four button{
    margin: 9px 0px 0px 100px;
    background: green;
    border-radius: 7px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.middle-one {
    background-color: #B7CCD3;
    height: 250px;
    width: 48%;
    float: left;
    margin: 0 22px 0 0;
}

.middle-one ul li {
    list-style: square;
    margin: 10px 0px 14px 154px;
}

.middle-one ul button {
    background: #228f22;
    border-radius: 3px;
    padding: 3px;
    margin: 0px 0px 0px 200px;
    cursor: pointer;
}

.middle-one h2 {
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.middle-two{
    background-color: #B7CCD3;
    height: 250px;
    width: 48%;
    float: left;
    margin: 0 0 0 23px;
}

.middle-two ul li{
    list-style: square;
    margin: 10px 0px 14px 154px;
}

.middle-two ul button{
    background: #228f22;
    border-radius: 3px;
    padding: 3px;
    margin: 0px 0px 0px 200px;
    cursor: pointer;
}

.middle-two h2{
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.title-one{
    height: 60px;
    width: 100%;
    float: left;
}

.title-one p {
    color: blue;
    margin: 20.5px 0px 0px 550px;
    font-size: 25px;
}
.rose-one{
    height: 200px;
    width: 48%;
    float: left;
    margin: 0 22px 0 0;
}
.rose-one a {
    text-decoration: none;
    font-size: 29px;
}
.rose-one p {
    color: black;
    font-size: 17px;
    padding: 9px 0px 0px 14px;
}
.rose-one button {
    padding: 2px;
    margin: 4px 0px 0px 224px;
    background: green;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.rose-two{
    height: 150px;
    width: 48%;
    float: left;
    margin: 0 0 0 23px;
}
.rose-two a{
    text-decoration: none;
    font-size: 30px;
}

.rose-two p {
    color: black;
    padding: 40px 0px 0px 0px;
    font-size: 17px;
}

.rose-two button{
    padding: 2px;
    margin: 4px 0px 0px 224px;
    background: green;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.human-one{
     background-color: #DCDCDC;
    height: 200px;
    width: 100%;
    float: left;
}
.human-one i {
    margin: 0px 0px 0px 521px;
}
.human-one p{
    text-align: center;
    margin: 26px 0px 0px -5px;
}

.love-one{
    height: 150px;
    width: 100%;
    float: left;
}
.love-one img{
     height: 118px;
    margin: 11px 0px 0px 466px;
}


.fold-one{
    background-color: #808080;
    height: 240px;
    width: 100%;
    float: left;
}
.fold-one img{
     color: white;
    margin: 4px 0px 0px 4px;
}

.gold-one{
    background: #4C515A;
    height:100px;
    width: 100%;
    float: left;
}
.gold-one p{
    text-align: center;
    margin: 14px 0px 0px 0px;
    color: white;
    font-size: 25px;
}
.gold-one p img{
    width: 114px;
    margin: 12px 0px 0px 0px;
}
.gold-one a img{
    margin: -36px 0px 0px 638px;
    height: 40px;
    width: 163px;
    position: absolute;
}
